<!DOCTYPE html>
<html lang ="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
		<title>Sidonia</title>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
		<link href="/public/css/main.css" rel="stylesheet" />
		<link href="/public/css/menu.css" rel="stylesheet" />
		<link href="/public/css/footer.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

	</head>
	<body>
		<div class="wrapper">
			<header class = "nav-bar">
				<ul>
					<img src ="/public/images/sidonia_logo.png" id = "logo" width:"150px" height: "43px" />
					<li ><a href="/><span id="pink"> Home </span></a>
					<li><a href="/about"><span id="orange">About</span> </a>
					<li><a href="/forums"><span id="dyellow">Forum</span> </a>
					<li><a href="/auth/signup"><span id="neon-green">Sign Up </span></a>
					<li><a href="/auth/signin"><span id ="cyan">Log In</span></a>
				</ul>
			</header>
