<% include public/views/common/header.ejs %>

<div>
	<div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			<li data-target="#carousel-example-generic" data-slide-to="3"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="carousel-caption">
					<h3 class="intro">What is Sidonia?</h3>
					<p class="subintro">Sidonia is a forum software providing a simple yet chic <p>designed template ranging from hobbyists to small businesses </p>
					<p> to form a community under a particular purpose they have. </p>
					<p>Sidonia's purpose is to bring people together, encouring people to remain </p>
					<p>anonymous without having to worry about being biased.</p>

				</div>
				<img src="images/slide51.jpg">
			</div>
			<div class="item">
				<div class="carousel-caption">
					<h3 class="intro2">Why go for Sidonia?</h3>
					<p class="subintro2">For the simplicity and a more organized look.</p>
					<p> People gather for people, talk for other people.</p>
				</div>
				<img src="public/images/slide5.jpg">
			</div>
			<div class="item">
				<div class="carousel-caption">
					<h3 class="intro3">Start making your business or hobbies the talk of the town!</h3>
					<p class="subintro3" id="dyellow"><a href = "#"> Download link here</a> </p>
				</div>
				 <img src="public/images/slide6.jpg">
			</div>
			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div> 
</div>

<% include public/views/common/footer.ejs %>
