<% include public/views/common/header.ejs %>

<div>
	<div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			<li data-target="#carousel-example-generic" data-slide-to="3"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="carousel-caption">
					<h3 class="intro">Welcome to Sidonia</h3>
					<p class="subintro">Meet new people, from different parts of the world!</p>
				</div>
				<img src="images/slide1.jpg">
			</div>
			<div class="item">
				<div class="carousel-caption">
					<h3 class="intro2">Talk about news</h3>
					<p class="subintro2">It's always great to stay up to date and hear what people think</p>
				</div>
				<img src="public/images/slide2.jpg">
			</div>
			<div class="item">
				<div class="carousel-caption">
					<h3 class="intro3">Talk about them 'nom noms</h3>
					<p class="subintro3">Where'd you get it and show it off!</p>
				</div>
				 <img src="public/images/slide3.jpg">
			</div>
			<div class="item">
				<div class="carousel-caption">
					<h3 class="intro3">Talk about news</h3>
					<p class="subintro3">It's always great to stay up to date and hear what people think</p>
				</div>
				 <img src="public/images/slide4.jpg">
			</div>
			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div> 
</div>

<% include public/views/common/footer.ejs %>
