<!DOCTYPE html>
<html lang ="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
		<title>Sidonia</title>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
		<link href="/public/css/main.css" rel="stylesheet" />
		<link href="/public/css/menu.css" rel="stylesheet" />
		<link href="/public/css/footer.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

	</head>
	<body>
		<div class="wrapper">
			<header class = "nav-bar">
				<ul>
					<img src ="images/sidonia_logo.png" id = "logo" width:"150px" height: "43px" />
					<li ><a href="/index"><span id="pink"> Home </span></a>
					<li><a href="/about"><span id="orange">About</span> </a>
					<li><a href="/forum/forums"><span id="dyellow">Forum</span> </a>
					<li><a href="/user/signup"><span id="neon-green">Sign Up </span></a>
					<li><a href="/user/login"><span id ="cyan">Log In</span></a>
				</ul>
			</header>
			<div>
				<div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
						<li data-target="#carousel-example-generic" data-slide-to="3"></li>
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<div class="carousel-caption">
								<h3 class="intro">Welcome to Sidonia</h3>
								<p class="subintro">Meet new people, from different parts of the world!</p>
							</div>
							<img src="images/slide1.jpg">
						</div>
						<div class="item">
							<div class="carousel-caption">
								<h3 class="intro2">Talk about news</h3>
								<p class="subintro2">It's always great to stay up to date and hear what people think</p>
							</div>
							<img src="public/images/slide2.jpg">
						</div>
						<div class="item">
							<div class="carousel-caption">
								<h3 class="intro3">Talk about them 'nom noms</h3>
								<p class="subintro3">Where'd you get it and show it off!</p>
							</div>
							 <img src="public/images/slide3.jpg">
						</div>
						<div class="item">
							<div class="carousel-caption">
								<h3 class="intro3">Talk about news</h3>
								<p class="subintro3">It's always great to stay up to date and hear what people think</p>
							</div>
							 <img src="public/images/slide4.jpg">
						</div>
						<!-- Controls -->
						<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div> 
			</div>
			<footer class = "col-md-12">
				<div class = "soc col-md-6">    
					<span id = "contact">Contact</span>
					<p> Bashundhara R/A </p>
					<p> Dhaka </p>
					<p> Bangladesh </p>
					<br>
					<p> +88017123456789 </p>
					<p><a href="mailto:contact@sidonia.com" class="no-hijack">contact@sidonia.com</a></p>
					<a href = "www.facebook.com/saminaxhossain" class="fa fa-facebook"></a>
				</div>
				<br>
				<div class = "official">
					<ul>
						<li><a href="#">Legal Terms</a></li>
						<li><a href="#">Cookies Policy</a></li>
						<li><a href="#">Support</a></li>
					</ul>
				</div>
			</footer>
		</div>
	</body>
</html>