* {
	margin: 0px;
	padding: 0px;
}
@font-face {
	font-family: 'BebasNeue';
	src: url('../bebas/MyFontsWebfontsKit/webfonts/32FE1E_0_0.eot');
	src: url('../bebas/MyFontsWebfontsKit/webfonts/32FE1E_0_0.eot?#iefix')
	format('embedded-opentype'),
	url('../bebas/MyFontsWebfontsKit/webfonts/32FE1E_0_0.woff2')
	format('woff2'),url('../bebas/MyFontsWebfontsKit/webfonts/32FE1E_0_0.woff')
	format('woff'),url('../bebas/MyFontsWebfontsKit/webfonts/32FE1E_0_0.ttf')
	format('truetype');
	src: url('../bebas/MyFontsWebfontsKit/webfonts/BebasNeueLight.otf') format("opentype");
	src: url('../bebas/MyFontsWebfontsKit/webfonts/BebasNeueBook.otf') format("opentype");
}
body {
	background-color:#f8f8f8;
	background-repeat: no-repeat;
	font-size: 14px;
	transition-delay:0.5s;
    background-attachment: fixed;
}
.carousel-caption 
{
	top: 50%;
	transform: translateY(-50%);
	bottom: initial;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    max-width: 100%;
    max-height:100%;
}
.carousel-inner > .item {
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  position: absolute;
  z-index: 0;
  -webkit-transition: none;
  transition: none;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.carousel-inner > .item:first-of-type {
  position: relative;
}
.carousel-inner > .active {
  opacity: 1;

}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  -webkit-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
  opacity: 1;
  left: 0;
}
