@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/bebas.eot');
    src: url('fonts/bebas.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebas.woff') format('woff'),
         url('fonts/bebas.ttf') format('truetype'),
         url('fonts/bebas.svg#') format('svg');
    font-weight: normal;
    font-style: normal;

}
.nav-bar {
	background-color: #252525;
    overflow: auto;
    position: fixed;
    width: 100%;
    z-index : 1;
    top: 0px;
    left: 0px;
    float: right;

}
.nav-bar > ul > li {
	display: inline-block;
	list-style-type: none;
	padding: 2.2rem;
	font-family: 'BebasNeue';
	position:relative;
	font-size: 2rem;
	font-weight: lighter;
	float: left;
}
.nav-bar > ul > li > a {
	text-decoration: none;
	color:#fff;
	line-height:1;
	letter-spacing:1.4px;
	border-top: 3px solid transparent;
}
.nav-bar > ul > li > a:hover {
	border-top-color: #fff;
	transition: 0.5s;
}


#pink:hover{
 	color: #e90675;
 	transition:0.5s;
}
#dyellow:hover {
 	color: #ffc000;
 	transition:0.5s;
}
#neon-green:hover {
	color: #00fe12;
	transition:0.5s;
}
#orange:hover {
	color:#ff8400;
	transition:0.5s;
}
#cyan:hover {
	color:#00ffba;
	transition:0.5s;
}
#logo {
	display: inline-block;
    padding: 2rem;
    position:relative;
    width: 150px;
    float: left;
}
a:active {
	color: #eee;
}
