<% include ../common/header.ejs %>

<div class = "wrapper">
	<div class= "topic-box">
		<h1> Sidonia Template Forum </h1>
		<br>
		<table class="table table-striped">
			<tbody>
				<tr>
					<td>
						<h3>Name</h3>
						
					</td>
					<td>
						<h3>Topic</h3>
						
					</td>
					<td>
						<h3>Views</h3>
						
					</td>
					<td>
						<h3>Replies</h3>
					</td>
				</tr>
				<tr>
					<td>
						<a href="/forums/new"><h3> Create new Forum </h3> </a> 
					</td>
				</tr>
			</tbody>
		</table>
	</div>

				<!-- get rows of view, reply, view topic topic, and date time -->
<% include ../common/footer.ejs %>
