<% console.log(forums) %>
  <% for(var i = 0; i < forums.length; i++) { %>
      <h1> <%= forums[i].title %> </h1>
      <p>
        <%= forums[i].user%>
      </p>
      <h3><%= forums[i].content%></h3>
  <% } %>
