<% include ../common/header.ejs %>
		<div class = "wrapper">
			<form id="forumForum" name="">
				<div class=" forum-box" >
					<div>
						<h1> Create New Forum </h1>
						<br>
						<label for="topic">Forum Name</label>
						<input type="text"  id="topic" placeholder="Ex. Cat Land">
						<label for="detail:">Description</label>
						<input type="Detail"  id="desc:" placeholder="Description">
							<br>
							<div class = "btn-group">
								<button type="submit" name ="submit" class="sub-btn">Submit</button>
								<button type="reset" name = "reset" class="sub-btn">Reset</button>
							</div>
						</div>
					</div>
				</div>

			</form>
<% include ../common/footer.ejs %>