<!DOCTYPE html>
<html lang ="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
		<title>Sidonia</title>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
		<link href="/public/css/main.css" rel="stylesheet" />
		<link href="/public/css/menu.css" rel="stylesheet" />
		<link href="/public/css/footer.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
	</head>
	<body>
	<body>
		
			<header class = "nav-bar">
				<ul>
					<img src ="images/sidonia_logo.png" id = "logo" width:"150px" height: "43px" />
					<li ><a href="/index"><span id="pink"> Home </span></a>
					<li><a href="/about"><span id="orange">About</span> </a>
					<li><a href="/forum/forums"><span id="dyellow">Forum</span> </a>
					<li><a href="/user/signup"><span id="neon-green">Sign Up </span></a>
					<li><a href="/user/login"><span id ="cyan">Log In</span></a>
				</ul>
			</header>
		<div class="wrapper">
			<div class = "signup-box">
				
				<div>
					<form  class = "c1">
						<h1> Sign up </h1>
						<br>
						<label for="firstName">First Name</label>
						<input type="text" id="firstName" name="firstName" value="">
						<label for="lastName">Last Name</label>
						<input type="text" id="lastName" name="lastName" value="">
						<label for="username">Username:</label>
						<input type="text" id="username" name="username" value="">
						<label for="email">Email</label>
						<input type="email" id="email" name="email" value="" placeholder ="example@email.com">
						<label for="password">Password</label>
						<input type="password" id="password" name="password" value="">

						<button class="sub-btn" type="submit" value="Save"><span>Save</span></button>
					</form>
					<div id="error"></div>
				</div> 
			</div>
			<footer class = "col-md-12">
				<div class = "soc col-md-6">
					<span id = "contact">Contact</span>
					<p> Bashundhara R/A </p>
					<p> Dhaka </p>
					<p> Bangladesh </p>
					<br>
					<p> +88017123456789 </p>
					<p><a href="mailto:contact@sidonia.com" class="no-hijack">contact@sidonia.com</a></p>
					<p><a href="http://www.facebook.com/saminaxhossain"  class = "fa fa-facebook"></a></p>
				</div>
				<br>
				<div class = "official">
					<ul>
						<li><a href="#">Legal Terms</a></li>
						<li><a href="#">Cookies Policy</a></li>
						<li><a href="#">Support</a></li>
					</ul>
				</div>
		</footer>
	</div>
	</body>
	<script>
  	var user = {};
   	$("#email").change(function(event){
   		user.email=$("#email").val();
   	});
    $("#password").change(function(event){
      user.password=$("#password").val();
    });
    $("#firstName").change(function(event){
      user.firstName=$("#firstName").val();
    });
    $("#lastName").change(function(event){
      user.lastName=$("#lastName").val();
    });
    $("#username").change(function(event){
      user.username=$("#username").val();
    });
    $("#submit").click(function(event){
      $.ajax({
        method: 'POST',
        url: "/auth/signin",
        data: user
      }).done(function(response){
        console.log(response);
        window.location.replace('/');
      }).fail(function(response){
        $("#error").text(JSON.parse(response.responseText).message);
        console.log(JSON.parse(response.responseText).message);
      });
    });
  </script>
</html>