<h1> Article List </h1>
<% console.log(articles) %>
  <% for(var i = 0; i < articles.length; i++) { %>
      <h1> <%= articles[i].title %> </h1>
      <p>
        <%= articles[i].user%>
      </p>
      <h3><%= articles[i].content%></h3>
  <% } %>
