<% include ../common/header.ejs %>
		<div class = "wrapper">
			<form id="topicForum" name="">
				<div class=" topic-box" >
					<div>
						<h1> Create New Topic </h1>
						<br>
						<label for="topic">Topic</label>
						<input type="text"  id="topic" placeholder="Ex. Ideas of Cat Names">
						<label for="detail:">Detail</label>
						<input type="Detail"  id="detail:" placeholder="detail">
						<label for="detail:">Forum</label>
						<div class="dropdown">
							<button onclick="return myFunction();" class="dropbtn">Select</button>
							<div id="myDropdown" class = "dropdown-content">
								<a href="#item1" class="dropdownItem" id = "1">Forum 1</a>
								<a href="#item2" class="dropdownItem" id = "2">Forum 2</a>
								<a href="#item3" class="dropdownItem" id = "3">Forum 3</a>
							</div>
							<p id="displaySelectedText">Selected Forum</p>
							<br>
							<div class = "btn-group">
								<button type="submit" name ="submit" class="sub-btn">Submit</button>
								<button type="reset" name = "reset" class="sub-btn">Reset</button>
							</div>
						</div>
					</div>
				</div>
			</form>
<% include ../common/footer.ejs %>