<% include ../common/checkAuth.ejs %>
<% include ../common/header.ejs %>

<div class = "wrapper">
	<form id="topicForum" name="">
		<div class=" topic-box" >
			<div>
				<h1> Create New Topic </h1>
				<br>
				<label for="topic">Topic</label>
				<input type="text"  id="title" placeholder="Ex. Ideas of Cat Names">
				<label for="description:">Description</label>
				<textarea id="description" placeholder="Description"></textarea>
				<div class = "btn-group">
					<button type="submit" id = "submit" name ="submit" class="sub-btn">Submit</button>
					<button type="reset" id = "reset" name = "reset" class="sub-btn">Reset</button>
				</div>
			</div>
		</div>
	</form>
	<script>
		$(document).ready(function() {
			var topic = {};
			topic.forum = <%- JSON.stringify(forum) %>;
			$("#title").change(function(event){
				topic.title = $("#title").val();
			});
			$("#description").change(function(event){
				topic.description = $("#description").val();
			});
			
			$("#submit").click(function(event){
				event.preventDefault();
				$.ajax({
					method: 'POST',
					url: "/forum/<%= forum %>/topic/create",
					data: topic
					}).done(function(response){
						window.location.replace('/topic/'+response._id+'/replies');
					}).fail(function(response){
						alert(response.responseText);
						$("#error").text(JSON.parse(response.responseText).message);
					//	alert(JSON.parse(response.responseText).message);
				});
			});
		});
	</script>

<% include ../common/footer.ejs %>