<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
	<title>New Topic</title>
	<script src="scripts/jquery-3.1.1.min.js"></script>
	<script src="scripts/main.js"></script>
	<link href="bootstrap/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
	<link href="bootstrap/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
	<link href="main-css/main.css" rel="stylesheet" />
	<link href="main-css/menu.css" rel="stylesheet" />
	<link href="main-css/footer.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
	</head>
	<body>
		<header class = "nav-bar">
			<ul>
				<img src = "images/sidonia_logo.png" id = "logo" width:"150px" height: "43px" />
				<li><a href="index.html"><span id="pink"> Home </span></a>
				<li><a href="#"><span id="orange">About</span> </a>
				<li><a href="#"><span id="dyellow">Community</span> </a>
				<li><a href="#"><span id="neon-green">Sign Up </span></a>
				<li><a href="#"><span id ="cyan">Log In</span></a>
			</ul>
		</header>
		<div class = "wrapper">
				<h1>Forum Name</h1>
				<br>
			<div class = "topic-box">
				<ol class="messageList xbMessageDefault" id="messageList">
					<li id="post-4173032" class="message   threadStarter  " data-author="catwings">
						<div class="messageHeading">
							<span class="leftSide">
									<a href="#" title="Permalink" class="datePermalink"><span class="DateTime" title="Jan 4, 2017 at 9:10 PM">Jan 4, 2017</span></a>

							</span>
							<span class="rightSide">
								<a href="index.php?threads/cat-doesnt-have-good-balance.332220/#post-4173032" title="Permalink" class="item muted postNumber hashPermalink OverlayTrigger" data-href="index.php?posts/4173032/permalink">#2</a>
							</span>
							
						</div>
						<div class="xbMessageHelper">
					<div class="messageUserInfo" itemscope="itemscope" itemtype="http://data-vocabulary.org/Person">
					<div class="messageUserBlock  xbOnlineRegular">
							<div class="avatarHolder">
								<span class="helper"><span></span></span>
								<a href="index.php?members/catwings.111447/" class="avatar Av111447m" data-avatarhtml="true"><img src="data/avatars/m/111/111447.jpg?1484076926" width="96" height="96" alt="catwings"></a>
								
								<!-- slot: message_user_info_avatar -->
							</div>
							<h3 class="userText">
								<a href="index.php?members/catwings.111447/" class="username" dir="auto" itemprop="name">catwings</a>
								<em class="userTitle" itemprop="title">New Member</em>
								
								<!-- slot: message_user_info_text -->
							</h3>
							<div class="extraUserInfo xbBoxedFA">
									<div class="xbMainUserInfo">	
									
									
										<dl class="pairsJustified xbMessages">
											<dt><i class="fa fa-comments fa-fw Tooltip" data-offsetx="-6" data-offsety="0"></i></dt>
											<dd><a href="index.php?search/member&amp;user_id=111447" class="concealed" rel="nofollow">5</a></dd>
										</dl>
										<dl class="pairsJustified xbLikes">
											<dt><i class="fa fa-thumbs-up fa-fw Tooltip" data-offsetx="-6" data-offsety="0"></i></dt>
											<dd>1</dd>
										</dl>

									</div>
										<dl class="pairsJustified xbJoinDate">
											<dt><i class="fa fa-calendar fa-fw Tooltip" data-offsetx="-6" data-offsety="0"></i></dt>
											<dd>Sep 27, 2016</dd>
										</dl>
							</div>
						<span class="arrow"><span></span></span>
					</div>
					</div>
					<div class="messageInfo primaryContent">		

							<div class="messageContent">
								<article>
									<blockquote class="messageText SelectQuoteContainer ugc baseHtml">
										
										I adopted an older stray cat about 8 weeks ago.&nbsp; He was very sick with a systemic infection, which cleared right up after antibiotics.&nbsp; He had a bad case of mites in his ears, so my vet treated his ears.&nbsp; Almost 2 weeks ago, he was sneezing and slinging his head and scratching his ears, so we went back to the vet.&nbsp; She said he had a respiratory issue, and she could see dead mites in his ears.&nbsp; She gave him an antibiotic shot and put something in his ears and sent us home with Amoxicillin.&nbsp; She asked me to bring him back to check the respiratory issue in a week.&nbsp; He was doing great - no sneezing, still scratching his ears, but he was playing, eating very well and you could tell he felt good.&nbsp; So Monday we went back to the vet.&nbsp; Lungs are clear, but because he was still scratching ears,&nbsp; the vet put drops in his ears and squished them around, then put a cream in.&nbsp; By that evening, when he would try to sling his head, he would fall over.&nbsp; He has walked into a box, and sometimes walked a crooked path when he goes across the room.&nbsp; He doesn't act like he hurts, but he just seems like something is not right.&nbsp; He wobbles a little sometimes and is really skittish.&nbsp; I'm just wondering if this is an ear issue or if something else is going on.&nbsp; I'm hesitant to take him back to the vet because it really stresses him out.&nbsp; He was living on his own outdoors as a sort of neighborhood stray before I got him, and it took me several weeks to get him semi-comfortable with being in the house and being handled.&nbsp; We were doing really good until Monday.&nbsp; I am pretty worried about him.&nbsp; Any suggestions?
										<div class="messageTextEndMarker">&nbsp;</div>
									</blockquote>
								</article>
							</div>
							<div class="messageMeta ToggleTriggerAnchor">
								<div class="privateControls">
									<div class="privateControlsDefault">
									</div>
								<div class="privateControlsMenu">
								</div>
								</div>
								<div class="publicControls">
								</div>
							</div>
							<div id="likes-post-4173032"></div>
						</div>
						</div>
					</li>

					<li id="post-4173055" class="message     " data-author="hbunny">

						<div class="messageHeading">
							<span class="leftSide">
									<a href="index.php?threads/cat-doesnt-have-good-balance.332220/#post-4173055" title="Permalink" class="datePermalink"><span class="DateTime" title="Jan 4, 2017 at 9:48 PM">Jan 4, 2017</span></a>
							</span>
							<span class="rightSide">
								<a href="index.php?threads/cat-doesnt-have-good-balance.332220/#post-4173055" title="Permalink" class="item muted postNumber hashPermalink OverlayTrigger" data-href="index.php?posts/4173055/permalink">#3</a>
							</span>
							
						</div>
						<div class="xbMessageHelper">
					<div class="messageUserInfo" itemscope="itemscope" itemtype="http://data-vocabulary.org/Person">
					<div class="messageUserBlock  xbOnlineRegular">
							<div class="avatarHolder">
								<span class="helper"><span></span></span>
								<a href="index.php?members/hbunny.100441/" class="avatar Av100441m" data-avatarhtml="true"><img src="data/avatars/m/100/100441.jpg?1484075272" width="96" height="96" alt="hbunny"></a>
								<!-- slot: message_user_info_avatar -->
							</div>
							<h3 class="userText">
								<a href="index.php?members/hbunny.100441/" class="username" dir="auto" itemprop="name">hbunny</a>
								<em class="userTitle" itemprop="title">Active Member</em>
								
								<!-- slot: message_user_info_text -->
							</h3>
							<div class="extraUserInfo xbBoxedFA">

									<div class="xbMainUserInfo">	
									
									
										<dl class="pairsJustified xbMessages">
											<dt><i class="fa fa-comments fa-fw Tooltip" data-offsetx="-6" data-offsety="0"></i></dt>
											<dd><a href="index.php?search/member&amp;user_id=100441" class="concealed" rel="nofollow">918</a></dd>
										</dl>
										<dl class="pairsJustified xbLikes">
											<dt><i class="fa fa-thumbs-up fa-fw Tooltip" data-offsetx="-6" data-offsety="0"></i></dt>
											<dd>165</dd>
										</dl>
									</div>

										<dl class="pairsJustified xbJoinDate">
											<dt><i class="fa fa-calendar fa-fw Tooltip" data-offsetx="-6" data-offsety="0"></i></dt>
											<dd>Feb 10, 2016</dd>
										</dl>
							</div>
						<span class="arrow"><span></span></span>
					</div>
					</div>
						<div class="messageInfo primaryContent">

							<div class="messageContent">
								<article>
									<blockquote class="messageText SelectQuoteContainer ugc baseHtml">
										
										Maybe a more experienced person will chime in here.....but I would call his vet immediately.&nbsp; My poor old guy has had an ear treatment in the past that caused him to do the very same thing, but they told me it was because they had to flush his ears first and it threw his equilibrium off.&nbsp; He cleared up in a day.&nbsp; It scared me to death, he was walking like a drunk or me when I had vertigo.&nbsp;I had that phone in my hand in a flash when I saw him doing this.<br>
					<br>
					&nbsp;<br>
					<br>
					I would definitely call and ask to speak to at least a vet tech, if they won't let you speak to the vet, and ask if it is the result of the treatment they did, or if it is a sign of something else.&nbsp; Could be the drops and the cream are doing it, or could be a reaction....I'm no expert, but I would definitely seek the advise of the treating office.<br>
					<br>
					&nbsp;<br>
					<br>
					Thank you for rescuing an older kitty!!&nbsp; Senior cats are awesome!!
										<div class="messageTextEndMarker">&nbsp;</div>
									</blockquote>
								</article>
							</div>

							<div class="messageMeta ToggleTriggerAnchor">
								<div class="privateControls">
									<div class="privateControlsDefault">
									</div>
								<div class="privateControlsMenu">
									
								</div>
								
								</div>
								
								<div class="publicControls">
								</div>
							</div>

							<div id="likes-post-4173055"></div>
						</div>
						</div>
					</li>

					</ol>
					<BR>
					<table class = "table">
						<tr>
							<form name="formReply" action="add_reply.html">
								<td>
								<table>
									<tr>
										<td><strong><label for="reply">Reply</label></strong>
										<textarea id="reply" name="reply" cols="45" rows="3" value=""></textarea></td>
									</tr>
									<tr>
										<td><input type="submit" name="Submit" class = "sub-btn" value="Submit">
										<input type="reset" name="Submit2" value="Reset" class = "sub-btn"></td>
									</tr>
								</table>
							</td>
						</form>
					</tr>
				</table>
			</div>
				<!-- get rows of view, reply, view topic topic, and date time -->
		<footer class = "col-md-12">
			<div class = "soc col-md-6">	
				<span id = "contact">Contact</span>
				<p> Bashundhara R/A </p>
				<p> Dhaka </p>
				<p> Bangladesh </p>
				<br>
				<p> +88017123456789 </p>
				<p><a href="mailto:contact@sidonia.com" class="no-hijack">contact@sidonia.com</a></p>
				<p><a href="http://www.facebook.com/saminaxhossain"  class = "fa fa-facebook"></a></p>
			</div>
			<br>
			<div class = "official">
				<ul>
					<li><a href="#">Legal Terms</a></li>
					<li><a href="#">Cookies Policy</a></li>
					<li><a href="#">Support</a></li>
				</ul>
			</div>
		</footer>
		</div>
	</body>
</html>